/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

input {
    appearance: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    max-inline-size: 66ch;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* Fonts */

.tourney-logo {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Begin rest of styling */

body {
    display: flex;
    flex: 0;
    background-color: #98afd193;
}

.splash-container {
    background: center/60% repeat url("../images/koi.png");
    min-height: 100vh;
    width: clamp(10rem, 400px, 33vw);
}

.logo-background {
    background-color: #000000CC;
    position: relative;
    top: 20%;
    padding: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.logo {
    height: 96px;
}

.logo-text {
    background-image: linear-gradient(red, blue);
    color: transparent;
    background-clip: text;
    font-family: "Tourney";
    font-size: 48px;
    font-weight: 600;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
}

.sign-up-text {
    line-height: 1.2;
    padding: 12px 24px;
}

form {
    padding: 12px 0;
}

.form-highlight {
    background-color: white;
    padding: 0 24px 24px;
    box-shadow: 0px 8px 4px #98afd1;
    position: relative;
}

legend {
    font-size: 24px;
    font-weight: bold;
    padding: 12px 0;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding: 14px 0;
}

input {
    width: clamp(250px, 40ch, 25vw);
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.submit {
    margin: 24px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    background-color: #c1392a;
    color: white;
    font-weight: bold;
}

.text {
    padding: 0 24px;
}

a {
    font-weight: bold;
    color: #c1392a;
}

a:hover {
    color: #080809;
}

a:visited {
    color: #8f5b5b;
}